<section>
    <article class="portada">

        {{#if profilePic}}
        <img id="profilePic" src="{{profilePic}}" alt="">
        {{else}}
        <img id="profilePic" src="https://pbs.twimg.com/profile_images/719587633353986048/U6ub_oiK_400x400.jpg">
        {{/if}}
        <h2>{{username}}</h2>
    </article>
    {{#if message}}<h1>{{message}}</h1>{{/if}}
    <form action="/profile" method="post" enctype="multipart/form-data">
            <label>Actualiza tu foto de perfil.</label><input id="file" type="file" name="profilePic"/>
            <label>Biografía:</label>  
            <textarea>{{bio}}</textarea>
            <br>
            <label>Rating:</label> 
            <p>{{rating}} Stars</p>
            <br>
            <p>Contacto: </p>{{email}}</p>
            <br>
            <p>Créditos: {{creditos}}</p>
            <input type="submit" value="Guardar">
    </form>
        <br>
        <br>
</section>
<hr>
<section>
    <h1>Mis productos:</h1>
    {{#each products}}
    <div>
        <h3>Nombre del Producto</h3><h5>{{name}}</h5>
        <h5>Foto del producto: </h5> <img src="{{image.[0]}}" alt="Foto del producto">
        <h4>Tiempo restante: {{time}}</h4>
        <p>{{description}}</p>
    </div>
    {{/each}}
</section>
<hr>
<section>
    <h1>Ingresa un nuevo producto</h1>
    
    <form action="/products/new" method="post" enctype="multipart/form-data">
            <input type="text" placeholder="Nombre de tu producto" name="name" />
            <br>
            <input name="puja" type="number" placeholder="Valor de puja"/>
            <br>
            <label>Descripcion:</label>
            <textarea name="description" cols="30" rows="5"></textarea>
            <br>
            <label>tiempo de la subasta</label>
            <input name="time" type="number"/>
            <br>
            <label>Sube hasta 6 imagenes</label>
            <input name="image" type="file" multiple />
            <br>
            <label>etiquetas</label>
            <input name="tags" type="string"/>
            <input type="submit">
            
        </form>
</section>
